<script>
    app.md = {} 
</script>
<div class="lp_contrast_container lp_module_fixed_bar">
    <% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['write'])) { %>
        <div class="btn-group" role="group" aria-label="" style="margin-bottom: 10px;">
            <button class="btn btn-sm btn-outline-secondary" onclick="app.setViewForPendingOperation('app_drawer');app.drawer.show();app.ajax('app_drawer', '/<%= prefix %>/bucket_form');">
                <i class="bi bi-plus-circle"></i> Add
            </button>

        </div>
    <% } %>
    <div style="max-width: 250px;margin-bottom: 10px;">
        <sl-input id="bucket_search_box" placeholder="Type: filter, Intro: search" size="medium" autocomplete="one-time-code" pill onkeydown="app.ajaxOnPressedKey(event,13,'content_view',`/<%= prefix %>/buckets?<%= extendedFilterDefinition %>search_value=${this.value}`)" value="<%= searchValue %>">
            <sl-icon name="search" slot="prefix"></sl-icon>
        </sl-input>    
    </div>
    <div id="list_navigation_bar"></div>
</div>
<br>
<br>
<br>
<br>
<br>
<table 
    id="buckets_table"
    data-classes="table"
    data-toggle="table" 
    data-search="true" 
    data-search-align="left" 
    data-search-selector="#bucket_search_box" 
    data-search-highlight="true"
    style="border-style: hidden;"   
>
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <% buckets.forEach(bucket => { %>
    <tr style="border: hidden;">
        <td>
            <div class="lp_container">
                <div class="lp_contrast_container">
                    <div>
                        <button class="lp_button" onclick="app.setViewForPendingOperation('app_drawer');app.drawer.show();app.ajax('app_drawer', '/<%= prefix %>/bucket_form?uuid=<%= bucket.uuid %>');">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="lp_button" onclick="app.ajax('content_view','/<%= prefix %>/flags?<%= extendedFilterDefinition %>bucket_uuid=<%= bucket.uuid %>');">
                            <i class="bi bi-flag"></i>
                        </button>   
                    </div>
                    <strong>Name:</strong> <%= bucket.name %>                                                    
                </div>
                <div class="lp_register_container_body">
                    <strong>Description:</strong> <%= bucket.description %>
                    <div class="alert alert-light" role="alert" style="margin-top: 7px;">
                        <% bucket.tags.forEach(tagUuid=> { %>
                            <span class="badge text-bg-warning"><%= tagUuidMap.get(tagUuid) %></span>
                        <% }) %>
                    </div>
                </div>                
            </div>
        </td>
    </tr>
    <% }) %>
</table>
<script>
    app.setSmartTable('buckets_table')
    <% if (extendedFilterDefinition.startsWith("extended_filter=mystuf")) { %>
        app.setModuleTitle(`<strong><sl-icon name="bucket" label="Buckets"></sl-icon> My Buckets</strong>`)    
    <% } else { %>
        app.setModuleTitle(`<strong><sl-icon name="bucket" label="Buckets"></sl-icon> Buckets</strong>`)    
    <% } %>
    app.renderListNavigationBar("list_navigation_bar",<%= listPagesTotalNumber %>,<%= listPageNumber %>,'<%= prefix %>/buckets',document.getElementById("bucket_search_box").value)  
</script>