<div id="bucket_form_title" style="display: none;" >Create Bucket</div>
<div id="bucket_form_body" style="display: none;">
    <table>
        <tr>
            <td><%- bucketFieldRender("name",bucket.name,bucketMetadata.name) %></td>
            <td><%- bucketFieldRender("name",bucket.name,bucketMetadata.name) %></td>
        </tr>
        <tr>
            <td><%- bucketFieldRender("name",bucket.name,bucketMetadata.name) %></td>
            <td><%- bucketFieldRender("name",bucket.name,bucketMetadata.name) %></td>
        </tr>
        <tr>
            <td><%- bucketFieldRender("name",bucket.name,bucketMetadata.name) %></td>
            <td><%- bucketFieldRender("name",bucket.name,bucketMetadata.name) %></td>
        </tr>
    </table>
</div>
<div id="bucket_form_footer" style="display: none;">
    <button class="btn btn-primary">Save</button>
</div>
<script>
    app.module_data.bucket_form={}
    app.module_data.bucket_form.bucket=JSON.parse(`<%- JSON.stringify(bucket) %>`)
    app.module_data.bucket_form.validateSchema = JSON.parse(`<%- validateSchema %>`)
    eval(`<%- validateFunction %>`)

    app.modal_window.setContent('bucket_form_title','bucket_form_body','bucket_form_footer')
</script>