<script>
    app.md.bucket_form={}
    app.md.bucket_form.prefix=<%- JSON.stringify(prefix) %>
    app.md.bucket_form.bucket=JSON.parse(`<%- JSON.stringify(bucket) %>`)
    app.md.bucket_form.bucketValidateSchema = JSON.parse(`<%- JSON.stringify(bucketValidateSchema).replaceAll("\\","\\\\") %>`)
    eval(`<%- bucketValidateFunction %>`)

    app.md.bucket_form.bucketContext=JSON.parse(`<%- JSON.stringify(bucketContext) %>`)
    app.md.bucket_form.bucketContextValidateSchema = JSON.parse(`<%- JSON.stringify(bucketContextValidateSchema).replaceAll("\\","\\\\") %>`)
    app.md.bucket_form.bucketContext.name='New Context Name'
    eval(`<%- bucketContextValidateFunction %>`)

    app.md.bucket_form.userPermissions = JSON.parse(`<%- JSON.stringify(userPermissions) %>`)
    eval(`<%- userHasPermissionOnElement %>`)    

    app.md.createContext=()=>{
        let newContext = JSON.parse(JSON.stringify(app.md.bucket_form.bucketContext))
        let contextsLength=app.md.bucket_form.bucket.contexts.push(newContext)
        app.md.addContextToList(newContext,contextsLength -1)
    }

    app.md.addContextsToList=()=>{
        document.getElementById('bucket_form_context_list').innerHTML=""

        let counter = 0
        app.md.bucket_form.bucket.contexts.forEach(context => {
            app.md.addContextToList(context,counter)
            counter++
        });
    }

    app.md.addContextToList=(bucketContext,contextIndex)=>{
        let disabled = ""
        if (!app.md.bucket_form.userHasPermissionOnElement(app.md.bucket_form.userPermissions,[app.md.bucket_form.prefix+'.bucket'],['write'])) {
            disabled="disabled='disabled'"
        }
        let contextKeyLabel =``
        if (bucketContext.uuid !== "") {
            contextKeyLabel = `
            <div class="alert alert-warning" role="alert" style="margin-top: 7px">
                <label style='font-size:small'>Context Key: </label><label style='font-style:italic;font-size:small;font-weight:bold'>${bucketContext.uuid}</label>
            </div>
            `
        }
        
        let deleteButton = ""
        if (app.md.bucket_form.userHasPermissionOnElement(app.md.bucket_form.userPermissions,[app.md.bucket_form.prefix+'.bucket'],['write'])) {
            deleteButton=`<button type="button" class="btn btn-outline-danger" onclick="app.confirmDelete('Delete Context','Are you sure to delete this Context and make ALL the associated flag <strong>values</strong> UNAVAILABLE ? <small><i>Only after saving the Bucket, this context will be really deleted.</i></small>','app.md.bucket_form.bucket.contexts.splice(${contextIndex}, 1);app.md.addContextsToList();app.dialog.hide()')" ><i class="bi bi-trash-fill"></i> Delete Context</button>`
        }
        html = `
        <div id="context_${contextIndex}_wrapper" style="margin-bottom: 10px;">
            <sl-details id="context_${contextIndex}" summary="${bucketContext.name}">
                <label style='margin-bottom:7px;font-size:17px'>Context Name</label>
                <input id="context_name_${contextIndex}" type="text" class="form-control" oninput="app.md.context_listener(${contextIndex},this)" value='${bucketContext.name}' ${disabled} />
                <label id='context_${contextIndex}_validation_message' style='font-size:15px;color:red;margin-left:2px;margin-top:3px'></label>
                ${contextKeyLabel}
                <br>
                <br>
                ${deleteButton}
            </sl-details>
        </div>  
        `
        document.getElementById('bucket_form_context_list').insertAdjacentHTML('beforeend',html)
        app.md.context_listener(contextIndex,document.getElementById(`context_name_${contextIndex}`))

    }

    app.md.context_listener=(contextIndex,element)=>{
        document.getElementById(`context_${contextIndex}`).summary=app.escapeHTML(element.value);
        app.md.bucket_form.bucket.contexts[contextIndex].name = element.value

        if(element.value===""){
            if(app.md.bucket_form.bucketContextValidateSchema.name.required){
                document.getElementById(`context_${contextIndex}_validation_message`).innerHTML=app.md.bucket_form.bucketContextValidateSchema.name.requiredMessage

            }
            else{
                document.getElementById(`context_${contextIndex}_validation_message`).innerHTML=""
            }               
        } else {
            regexpValidator = new RegExp(app.md.bucket_form.bucketContextValidateSchema.name.regexp)
            if(!regexpValidator.test(element.value)){
                document.getElementById(`context_${contextIndex}_validation_message`).innerHTML=app.md.bucket_form.bucketContextValidateSchema.name.message
            }
            else {
                document.getElementById(`context_${contextIndex}_validation_message`).innerHTML=''
            }
        }        

    }  
    
    app.md.submitBucket=(triggerElement)=> {

        let tags=[]

        for(let i=0 ;i<document.getElementById("bucket_tags").selectedOptions.length;i++){
            tags.push(document.getElementById("bucket_tags").selectedOptions[i].value)
        }
        
        app.md.bucket_form.bucket.tags=tags

        let bucket = app.md.bucket_form.bucket
        let bucketValidationResult = app.md.bucket_form.bucketValidateFunction(bucket,app.md.bucket_form.bucketValidateSchema)       
        if (bucketValidationResult.isValid) {
            app.setElementForPendingOperation(triggerElement)
            let result = $.ajax({
                type:"POST",
                url:"<%= prefix %>/bucket",
                data:"csrfToken=<%= csrfToken %>"+"&json="+JSON.stringify(bucket),
                processData: false,
                dataType:"text"
            })
            .done(function() {
                setTimeout(() => {
                    //$("#content_view").load("<%= prefix %>/buckets");
                    app.ajax('content_view', '/<%= prefix %>/buckets')
                    app.drawer.hide();
                    app.toastShow('Saved','Bucket saved successfully.',{type:"success"})           
                    
                }, 1000);
            })
            .fail(function(data) {
                try {
                    app.unsetElementForPendingOperation(triggerElement)
                    for (messageData of JSON.parse(data.responseText).messages) {
                        app.toastShow('Form data Error:',messageData.message,{closable:true,type:"error"})
                        break;
                    }

                } catch (error) {}
            })
            .always(function() {
            });              
        } else {
            try {
                app.toastShow('Form data Error',bucketValidationResult.messages[0].message,{closable:true,type:"error"})
            } catch (error) {}
        }

      
    }

    app.md.deleteBucket=(uuid)=> {
        let result = $.ajax({
            type:"DELETE",
            url:"<%= prefix %>/bucket?uuid="+uuid+"&csrfToken=<%= csrfToken %>",
        })
        .done(function() {      
            setTimeout(() =>{
                app.ajax('content_view', '/<%= prefix %>/buckets')
                app.drawer.hide();
                app.dialog.hide()
                app.toastShow('Deleted','Bucket deleted successfully.',{type:"success"}) 
            },1000)   
        })
    
    }    

</script>
<% if (!editing) { %>
    <h3>Create Bucket</h3>
<% } else { %>
    <sl-alert variant="warning" open>
        <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
        <strong>Editing Bucket</strong><br />
        <%= bucket.name %>
      </sl-alert>

<% } %>
    <sl-tab-group id="bucket_form_tab_group">
        <sl-tab slot="nav" panel="general">General</sl-tab>
        <sl-tab slot="nav" panel="contexts">Contexts</sl-tab>
        <% if (editing && UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['write'])) { %>
            <sl-tab slot="nav" panel="operations">Operations</sl-tab>
         
        <% } %>
    
        <sl-tab-panel name="general">

            <% let fieldsEnabled = false; if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['write'])) { fieldsEnabled = true }%>

            <%- bucketFieldRender("bucket","name",bucket.name,bucketMetadata.name,fieldsEnabled) %>
            <%- bucketFieldRender("bucket","description",bucket.description,bucketMetadata.description,fieldsEnabled) %>
        
            <label style='margin-bottom:7px;font-size:17px'>Tags</label>
            <select id="bucket_tags" class="js-example-basic-single" name="state[]" multiple="multiple" style="width:100%" >
                <% tags.forEach(tag => { %>
                    <option value="<%= tag.uuid %>" <% if(bucket.tags.includes(tag.uuid)){ %> selected <% } %> ><%= tag.name %></option>
                 
                <% }) %>
            </select>        
        
        </sl-tab-panel>
        <sl-tab-panel name="contexts">
            <div style="text-align: right;">
                <% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['write'])) { %>
                    <button type="button" class="btn btn-outline-primary" style="margin-top: 5px;margin-bottom: 9px;"  onclick="app.md.createContext()">
                        <i class="bi bi-plus-circle"></i> Add Context
                    </button>            
                <% } %>
            </div>
            <div id="bucket_form_context_list"></div>

        </sl-tab-panel>
        <sl-tab-panel name="operations">
            <% if (editing && UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['write']) && UserHasPermissionOnElement(userPermissions,[prefix+'.flag'],['write'])) { %>
                <sl-details summary="Delete">
                    <label style='margin-bottom:7px;font-size:17px' style="text-align: justify;">
                        Deleting a Bucket involves making it's associated flags completely UNAVAILABLE.
                        <br>
                        <br>
                    </label>
                    <button type="button" class="btn btn-outline-danger" onclick="app.confirmDelete('Delete Bucket','Are you sure to delete the bucket <strong><%= bucket.name %></strong> ?','app.md.deleteBucket(`<%= bucket.uuid %>`)')"><i class="bi bi-trash-fill"></i> Delete Bucket</button>
                    <br>
                </sl-details>
    
            <% } %>
        </sl-tab-panel> 
    </sl-tab-group>

    <div slot="footer" style="padding: 20px;background-color: aliceblue;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <button type="button" class="btn btn-secondary" onclick="app.drawer.hide()">Close</button>
        <% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['write'])){ %>
            <button type="button" class="btn btn-primary" style="background-color: var(--main-contrast-color);" onclick="app.md.submitBucket(this)">Save</sl-button>
        <% } %>        
    </div>

<script>
    $(document).ready(function() {
        app.md.addContextsToList()
        document.getElementById('bucket_form_tab_group').show('general')

        if (app.md.bucket_form.bucket.name==="") {
            setTimeout(()=>{document.getElementById("bucket_name").focus()},500)        
        }

        $('.js-example-basic-single').select2({width:'resolve',placeholder: 'Select the tags you want.'});
    });
</script>