<script>
    app.md = {}
</script>
<div class="alert alert-light module_title" role="alert">
    <strong>Contexts</strong>
</div>
<% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['read'])) { %>
    <div style="width: 50%;position: absolute;right: 23px;top:93px">
        <sl-input id="context_search_box" placeholder="Search..." size="medium" pill>
            <sl-icon name="search" slot="prefix"></sl-icon>
        </sl-input>    
    </div>
    <br>
    <br>
    <table 
        id="contexts_table" 
        data-toggle="table" 
        data-search="true" 
        data-search-align="left" 
        data-search-selector="#context_search_box" 
        data-search-highlight="true"
        data-sortable="true"  
        style="border-style: hidden;"   
    >
        <thead>
            <tr>
                <th data-sortable="true">Sort by Name</th>
            </tr>
        </thead>
        <% contexts.forEach(context => { %>
        <tr>
            <td>
                <div class="lp_container">
                    <div class="lp_contrast_container">
                        <table style="width: 100%;border-style: none;">
                            <tr>
                                <td style="width: 50%;"><strong>Name:</strong> <%= context.name %></td>
                                <td style="width: 50%;text-align: right;">
                                    <span>
                                        <button class="list_button" onclick="app.drawer.innerHTML='';app.ajax('content_view','/<%= prefix %>/context?uuids=<%= context.uuids %>');"><i class="bi bi-eye"></i></button>
                                    </span>                                                       
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="register_container_body">
    
                    </div>                
                </div>

            </td>
        </tr>
        <% }) %>
    </table>

<% } %>
<script>
    app.md.contexts_table = $('#contexts_table')
    app.md.contexts_table.bootstrapTable()
</script>