<% 
let contextDataPulse=[]
let script =""
%>
<script>
    app.md = {}
</script>
<div class="alert alert-light module_title" role="alert">
    <strong>Context:</strong> <%= contextName %>
</div>


<% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['read'])) { %>
    <% matchedContextsUuids.forEach(matchedContext => { 
        let bucketName = matchedContext[0]
        let bucketContextUuid = matchedContext[1]

        let clientIdCounterMap = new Map()
        
        contextDataPulse=dataPulseManager.getFromDateRange(bucketContextUuid,new Date,new Date)
        contextDataPulse.forEach(pulse => {
            if ("client_id" in pulse) {
                if (clientIdCounterMap.has(pulse["client_id"])) {
                    clientIdCounterMap.set(pulse["client_id"],clientIdCounterMap.get(pulse["client_id"])+1)
                    
                } else {
                    clientIdCounterMap.set(pulse["client_id"],0)
                    
                }
            }
            
        });
        

        let contextStats=[]
        clientIdCounterMap.forEach((value,key) => {
            contextStats.push({
                category:key,
                value:value
            })
        });

        script += `
        am5.ready(function() {
            let root = am5.Root.new("contextsChart_${Buffer.from(bucketName, 'utf8').toString('base64')}");
            let themes = []
            themes.push(am5themes_Kelly.new(root))
            themes.push(am5themes_Animated.new(root))
            if (app.isSmallScreen()) {
                themes.push(am5themes_Responsive.new(root))
            }
            root.setThemes(themes);
            
            let chart = root.container.children.push(
            am5percent.PieChart.new(root, {
                endAngle: 270
            }));

            let series = chart.series.push(
            am5percent.PieSeries.new(root, {
                valueField: "value",
                categoryField: "category",
                endAngle: 270,
                alignLabels: true
            }));
            
            series.labels.template.set("text", "{category}: [bold]{valuePercentTotal.formatNumber('0')}%");        
            
            series.states.create("hidden", {
                endAngle: -90
            });
            
            series.data.setAll(JSON.parse('${JSON.stringify(contextStats)}'));
            series.appear(1000, 100);

        });            
        `
    %>
        <div class="lp_container">
            <div class="lp_contrast_container">
                <strong>Bucket Name:</strong> <%= bucketName %> 
            </div>
            <div class="register_container_body">
                <div class="card-body">
                    <div id="contextsChart_<%= Buffer.from(bucketName, 'utf8').toString('base64') %>" style="height: 100px;width: 100%;"></div>                                  
                        <p class="card-text"><strong>Flags Query</strong> By Client</p>
                </div>                                
            </div>                
        </div>                           
    <% }) %>
<% } %>
<div slot="footer" style="padding: 20px;background-color: aliceblue;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
    <button type="button" class="btn btn-secondary" onclick="app.drawer.hide()">Close</button>   
</div>
<script>
    <%- script %>
</script>