<% 
let contextDataPulse=[]
let statsByContext = {}
%>
<script>
    app.md = {}
</script>
<div class="alert alert-primary module_title" role="alert">
    <strong>Context:</strong> <%= contextName %><br>
    <strong>Data Pulse Graphs</strong>
</div>
<div class="breadCrumbsContainer" id="breadCrumbsContainer"></div>
<% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['read'])) { %>
    <% matchedContextsUuids.forEach(matchedContext => { 
        let bucketName = matchedContext[0]
        let bucketContextUuid = matchedContext[1]

        let stringTypeKeysDataMaps = {}
        
        contextDataPulse=dataPulseManager.getFromDateRange(bucketContextUuid,new Date,new Date)
        let stringTypeKeys=[]
        contextDataPulse.forEach(pulse => {
            if ("data_map" in pulse) {
                let dataMap = pulse.data_map
                Object.keys(dataMap).forEach(dataMapItemKey => {
                    let dataMapItemValue = dataMap[dataMapItemKey]
                    //is numeric
                    //if (typeof dataMapItemValue === "string" &&  !isNaN(dataMapItemValue) && !isNaN(parseFloat(dataMapItemValue))) {
                        /*
                        if (dataPulseCounterMap.has(dataMapItemKey)) {
                            dataPulseCounterMap.set(dataMapItemKey,dataPulseCounterMap.get(dataMapItemKey)+1)
                        
                        } else {
                            dataPulseCounterMap.set(dataMapItemKey,0)
                            
                        } 
                        */                       
                    //}
                    //else{
                        stringTypeKeys.push(dataMapItemKey)
                        if (!(dataMapItemKey in stringTypeKeysDataMaps)) {
                            stringTypeKeysDataMaps[dataMapItemKey]= new Map()
                        }

                        if (stringTypeKeysDataMaps[dataMapItemKey].has(dataMapItemValue)) {
                            stringTypeKeysDataMaps[dataMapItemKey].set(dataMapItemValue,stringTypeKeysDataMaps[dataMapItemKey].get(dataMapItemValue)+1)
                        
                        } else {
                            stringTypeKeysDataMaps[dataMapItemKey].set(dataMapItemValue,1)
                            
                        }                         
                    //}
                });

            }
            
        });   

        let statsByStringTypeKey={}
        stringTypeKeys = new Set(stringTypeKeys)  
        stringTypeKeys.forEach(stringTypeKey => {
            let statsArray=[]
            stringTypeKeysDataMaps[stringTypeKey].forEach((value,key) => {
                statsArray.push({
                    category:key,
                    value:value
                })
            });
            statsByStringTypeKey[stringTypeKey]=statsArray
        });


        statsByContext[bucketContextUuid]=statsByStringTypeKey    

    %>
        <div class="lp_container">
            <div class="lp_contrast_container">
                <strong>Bucket Name:</strong> <%= bucketName %>
            </div>
            <div class="register_container_body">
                <div class="card-body">
                    <% if(Array.from(stringTypeKeys).length > 0){ %>
                        <select id="select_<%= Buffer.from(bucketName, 'utf8').toString('base64') %>" onchange="if(this.value !=='')app.graphShowPie('contextsChart_<%= Buffer.from(bucketName, 'utf8').toString('base64') %>',app.md.statsByContext['<%= bucketContextUuid %>'][this.value]);">
                            <option value="">Select...</option>
                            <% stringTypeKeys.forEach(stringTypeKey => { %>
                                <option value="<%=stringTypeKey %>"><%=stringTypeKey %></option>
                            <%}); %>
                        </select>
                    <% } %>
                    <div id="contextsChart_<%= Buffer.from(bucketName, 'utf8').toString('base64') %>" style="height: <%= 200*(Array.from(stringTypeKeys).length > 1) %>px;width: 100%;"></div>
                    <p class="card-text"></p>
                </div>                                
            </div>                
        </div>                           
    <% }) %>
<% } %>
<script>
    app.renderBreadCrumbs("breadCrumbsContainer","content_view")
    app.md.statsByContext = JSON.parse('<%-JSON.stringify(statsByContext) %>')
</script>
