<% 
let flagValueStats={
    on:0,
    off:0,
    conditioned:0,
    string:0,
}
%>
<script>
    app.md = {}
</script>
<div class="alert alert-light module_title" role="alert">
    <strong>Context:</strong> <%= contextName %>
</div>
<div style="width: 50%;position: absolute;right: 23px;top:93px">
    <sl-input id="flag_search_box" placeholder="Search..." size="medium" autocomplete="one-time-code" pill>
        <sl-icon name="search" slot="prefix"></sl-icon>
    </sl-input>    
</div>
<br>
<br>
<div class="breadCrumbsContainer" id="breadCrumbsContainer"></div>
<div id="flagValuesChart" style="height: 100px;width: 100%;"></div>
<table 
    id="flags_table" 
    data-toggle="table" 
    data-search="true" 
    data-search-align="left" 
    data-search-selector="#flag_search_box" 
    data-search-highlight="true"
    data-sortable="true"  
    style="border-style: hidden;"  
>
    <thead>
        <tr>
            <th data-sortable="true">Order by Bucket</th>
        </tr>
    </thead>
    
    <% if (UserHasPermissionOnElement(userPermissions,[prefix+'.flag'],['read'])) { %>
        <% flags.forEach(flag => { %>
            <% flag.contexts.forEach(context=> { %>
                <% if (matchedContextsUuids.includes(context.bucket_context_uuid)) { %>
                    <tr>
                        <td>
                            <div class="lp_container">
                                <div class="lp_contrast_container">
                                    <div>
                                        <button class="lp_button" onclick="app.drawer.innerHTML='';app.setViewForPendingOperation('app_drawer');app.drawer.show();htmx.ajax('GET', '/<%= prefix %>/flag_form?uuid=<%= flag.uuid %>&bucket_uuid=<%= flag.bucket_uuid %>&bucket_context_uuid=<%= context.bucket_context_uuid %>', {target:'#app_drawer', swap:'innerHTML'});"><i class="bi bi-pencil"></i></button>
                                    </div>
                                    <strong>Bucket Name:</strong> <%= bucketUuidMap.get(flag.bucket_uuid) %> <strong>Flag Name:</strong> <%= flag.name %>                                                                                            
                                </div>
                                <div class="register_container_body">
                                        <div class="card-body">
                                            <p></p>
                                            <p></p>
                                            <p><strong>Description:</strong> <%= flag.description %></p>                                        
                                            <% if (context.engine == "string") { %>
                                                <p class="card-text"><strong>Engine:</strong> String</p>
                                                <input type='text' class="form-control" value='<%= context.engine_parameters.string.value %>' disabled='disabled'>
                                                <% flagValueStats.string = flagValueStats.string +1 %>
                                            <% } else if (context.engine == "boolean") { %>
                                                <p class="card-text"><strong>Engine:</strong> True/False</p>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" style="font-size:large" <% if(context.engine_parameters.boolean.status){ flagValueStats.on = flagValueStats.on + 1; %> checked <% } else { flagValueStats.off = flagValueStats.off +1 } %>  disabled="disabled">
                                                </div>                                  
                                            <% } else if (context.engine == "boolean_conditioned_false") { %>
                                                <p class="card-text"><strong>Engine:</strong> False (AND)</p>
                                                <p class="card-text"><%= context.engine_parameters.boolean_conditioned_false.conditions.length %> Conditions</p>
                                                <% flagValueStats.conditioned = flagValueStats.conditioned +1 %> 
                                            <% } else if (context.engine == "boolean_conditioned_true") { %>
                                                <p class="card-text"><strong>Engine:</strong> True (AND)</p>
                                                <p class="card-text"><%= context.engine_parameters.boolean_conditioned_true.conditions.length %> Conditions</p>
                                                <% flagValueStats.conditioned = flagValueStats.conditioned +1 %> 
                                            <% } else if (context.engine == "boolean_conditionedor_false") { %>
                                                <p class="card-text"><strong>Engine:</strong> False (OR)</p>
                                                <p class="card-text"><%= context.engine_parameters.boolean_conditionedor_false.conditions.length %> Conditions</p>
                                                <% flagValueStats.conditioned = flagValueStats.conditioned +1 %> 
                                            <% } else if (context.engine == "boolean_conditionedor_true") { %>
                                                <p class="card-text"><strong>Engine:</strong> True (OR)</p>
                                                <p class="card-text"><%= context.engine_parameters.boolean_conditionedor_true.conditions.length %> Conditions</p>
                                                <% flagValueStats.conditioned = flagValueStats.conditioned +1 %> 
                                            <% } %>
                                            <div class="alert alert-light" role="alert" style="margin-top: 7px;">
                                                Tags:
                                                <% flag.tags.forEach(tagUuid=> { %>
                                                    <span class="badge text-bg-warning"><%= tagUuidMap.get(tagUuid) %></span>
                                                <% }) %>
                                            </div>                                         
                                        </div>                                
                                </div>                
                            </div>                          
                        </td>
                    </tr>
                <% } %>
                <% }) %>
                <% }) %>
    <% } %>

</table>
<script>
    app.renderBreadCrumbs("breadCrumbsContainer","content_view")
    app.md.flagValueStats = JSON.parse(`<%- JSON.stringify(flagValueStats) %>`)
    app.graphShowPie('flagValuesChart',[{
            category: "On",
            value: app.md.flagValueStats.on
            }, {
            category: "Off",
            value: app.md.flagValueStats.off
            }, {
            category: "Cond.",
            value: app.md.flagValueStats.conditioned
            }, {
            category: "String",
            value: app.md.flagValueStats.string
        }]);

        app.setSmartTable('flags_table')
</script>