<script>
    app.md = {}
</script>

<% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['read'])) { %>
    <div class="lp_contrast_container module_fixed_bar">
        <div style="max-width: 250px;">
            <sl-input id="context_search_box" placeholder="Search..." size="medium" autocomplete="one-time-code" pill>
                <sl-icon name="search" slot="prefix"></sl-icon>
            </sl-input>    
        </div>
    </div>
    <br>
    <br>
    <table 
        id="contexts_table" 
        data-toggle="table" 
        data-search="true" 
        data-search-align="left" 
        data-search-selector="#context_search_box" 
        data-search-highlight="true"
        data-sortable="true"  
        style="border-style: hidden;"   
    >
        <thead>
            <tr>
                <th data-sortable="true">Sort by Name</th>
            </tr>
        </thead>
        <% contexts.forEach(context => { %>
        <tr>
            <td>
                <div class="lp_container">
                    <div class="lp_contrast_container">
                        <div>
                            <button class="lp_button" onclick="app.ajax('content_view','/<%= prefix %>/context?uuids=<%= context.uuids %>');"><i class="bi bi-flag"></i></button>
                            <button class="lp_button" style="width: 70px;" onclick="app.ajax('content_view','/<%= prefix %>/context_stats?uuids=<%= context.uuids %>');"><i class="bi bi-bar-chart-line"></i> <i class="bi bi-flower3"></i></button>
                            <button class="lp_button" style="width: 70px;" onclick="app.ajax('content_view','/<%= prefix %>/context_data_pulse_stats?uuids=<%= context.uuids %>');"><i class="bi bi-bar-chart-line"></i> <i class="bi bi-envelope-paper-heart"></i></button>
                        </div>
                        <strong>Name:</strong> <%= context.name %>
                    </div>
                    <div class="register_container_body">
    
                    </div>                
                </div>

            </td>
        </tr>
        <% }) %>
    </table>

<% } %>
<script>
    app.setSmartTable('contexts_table')
    app.setModuleTitle(`<strong><sl-icon name="circle-half" label="Contexts"></sl-icon> Contexts</strong>`)
</script>