<% 
let contextDataPulse=[]
let script =""
%>
<script>
    app.md = {}
</script>
<div class="alert alert-light module_title" role="alert">
    <strong>Context:</strong> <%= contextName %>
</div>


<% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['read'])) { %>
    <% matchedContextsUuids.forEach(matchedContext => { 
        let bucketName = matchedContext[0]
        let bucketContextUuid = matchedContext[1]

        let clientIdCounterMap = new Map()
        
        contextDataPulse=dataPulseManager.getFromDateRange(bucketContextUuid,new Date,new Date)
        contextDataPulse.forEach(pulse => {
            if ("client_id" in pulse) {
                if (clientIdCounterMap.has(pulse["client_id"])) {
                    clientIdCounterMap.set(pulse["client_id"],clientIdCounterMap.get(pulse["client_id"])+1)
                    
                } else {
                    clientIdCounterMap.set(pulse["client_id"],0)
                    
                }
            }
            
        });
        

        let contextStats=[]
        clientIdCounterMap.forEach((value,key) => {
            contextStats.push({
                category:key,
                value:value
            })
        });

        script += `
        am5.ready(function() {
            let root = am5.Root.new("contextsChart_${Buffer.from(bucketName, 'utf8').toString('base64')}");
            let themes = []
            themes.push(am5themes_Kelly.new(root))
            themes.push(am5themes_Animated.new(root))
            if (app.isSmallScreen()) {
                themes.push(am5themes_Responsive.new(root))
            }
            root.setThemes(themes);

            /*            
            let chart = root.container.children.push(
            am5percent.PieChart.new(root, {
                endAngle: 270
            }));

            let series = chart.series.push(
            am5percent.PieSeries.new(root, {
                valueField: "value",
                categoryField: "category",
                endAngle: 270,
                alignLabels: true
            }));
            
            series.labels.template.set("text", "{category}: [bold]{valuePercentTotal.formatNumber('0')}%");        
            
            series.states.create("hidden", {
                endAngle: -90
            });
            
            series.data.setAll(JSON.parse('${JSON.stringify(contextStats)}'));
            series.appear(1000, 100);

            */

            let chart = root.container.children.push(am5xy.XYChart.new(root, {
              panX: false,
              panY: false,
              wheelX: "panX",
              wheelY: "zoomX",
              paddingLeft: 0,
              layout: root.verticalLayout
            }));


            // Create axes
            // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            let yRenderer = am5xy.AxisRendererY.new(root, {
              cellStartLocation: 0.1,
              cellEndLocation: 0.9,
              minorGridEnabled: true
            });

            yRenderer.grid.template.set("location", 1);

            let yAxis = chart.yAxes.push(
              am5xy.CategoryAxis.new(root, {
                categoryField: "category",
                renderer: yRenderer,
                tooltip: am5.Tooltip.new(root, {})
              })
            );

            let xAxis = chart.xAxes.push(
              am5xy.ValueAxis.new(root, {
                min: 0,
                renderer: am5xy.AxisRendererX.new(root, {
                  strokeOpacity: 0.1,
                  minGridDistance:70
                })
              })
            );


            // Add series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            let series = chart.series.push(am5xy.ColumnSeries.new(root, {
              name: "Category",
              xAxis: xAxis,
              yAxis: yAxis,
              valueXField: "value",
              categoryYField: "category",
              sequencedInterpolation: true,

            }));

            series.columns.template.setAll({
              height: am5.percent(70)
            });

            series.columns.template.adapters.add("fill", function (fill, target) {
              return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            series.columns.template.adapters.add("stroke", function (stroke, target) {
              return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            // Add cursor
            // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
              behavior: "zoomY"
            }));

            cursor.lineX.set("visible", false);

            yAxis.data.setAll(JSON.parse('${JSON.stringify(contextStats)}'));
            series.data.setAll(JSON.parse('${JSON.stringify(contextStats)}'));

            series.appear();
            chart.appear(1000, 100);


        });            
        `
    %>
        <div class="lp_container">
            <div class="lp_contrast_container">
                <strong>Bucket Name:</strong> <%= bucketName %> 
            </div>
            <div class="register_container_body">
                <div class="card-body">
                    <div id="contextsChart_<%= Buffer.from(bucketName, 'utf8').toString('base64') %>" style="height: <%= contextStats.length * 50 %>px;width: 100%;"></div>                                  
                        <p class="card-text"></p>
                </div>                                
            </div>                
        </div>                           
    <% }) %>
<% } %>
<div slot="footer" style="padding: 20px;background-color: aliceblue;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
    <button type="button" class="btn btn-secondary" onclick="app.drawer.hide()">Close</button>   
</div>
<script>
    <%- script %>
</script>