<% 
let contextDataPulse=[]
let script =""
let statsByContext = {}
%>
<script>
    app.md = {}
</script>

<div class="breadCrumbsContainer" id="breadCrumbsContainer"></div>
<% if (UserHasPermissionOnElement(userPermissions,[prefix+'.bucket'],['read'])) { %>
    <% matchedContextsUuids.forEach(matchedContext => { 
        let bucketName = matchedContext[0]
        let bucketContextUuid = matchedContext[1]

        let clientIdCounterMap = new Map()
        
        contextDataPulse=dataPulseManager.getFromDateRange(bucketContextUuid,new Date,new Date)
        contextDataPulse.forEach(pulse => {
            if ("client_id" in pulse) {
                if (clientIdCounterMap.has(pulse["client_id"])) {
                    clientIdCounterMap.set(pulse["client_id"],clientIdCounterMap.get(pulse["client_id"])+1)
                    
                } else {
                    clientIdCounterMap.set(pulse["client_id"],1)
                    
                }
            }
            
        });     

        let contextStats=[]
        clientIdCounterMap.forEach((value,key) => {
            contextStats.push({
                category:key,
                value:value
            })
        });

        statsByContext[bucketContextUuid]=contextStats
        script += `app.graphShowBars('contextsChart_${Buffer.from(bucketName, 'utf8').toString('base64')}',app.md.statsByContext['${bucketContextUuid}']);`

    %>
        <div class="lp_container">
            <div class="lp_contrast_container">
                <div>
                  <button class="lp_button" onclick="app.graphShowBars('contextsChart_<%= Buffer.from(bucketName, 'utf8').toString('base64') %>',app.md.statsByContext['<%= bucketContextUuid %>']);" ><i class="bi bi-bar-chart"></i></button>
                  <button class="lp_button" onclick="app.graphShowPie('contextsChart_<%= Buffer.from(bucketName, 'utf8').toString('base64') %>',app.md.statsByContext['<%= bucketContextUuid %>']);" ><i class="bi bi-pie-chart"></i></button>
                </div>                
                <strong>Bucket Name:</strong> <%= bucketName %>
            </div>
            <div class="register_container_body">
                <div class="card-body">
                    <div id="contextsChart_<%= Buffer.from(bucketName, 'utf8').toString('base64') %>" style="height: <%= contextStats.length * 80 %>px;width: 100%;"></div>
                        <p class="card-text"></p>
                </div>                                
            </div>                
        </div>                           
    <% }) %>
<% } %>
<script>
    app.renderBreadCrumbs("breadCrumbsContainer","content_view")
    app.md.title = `<strong><%= contextName %>: API Usage by Client</strong>`
    if (app.isSmallScreen()) {
        app.md.title = `<strong><%= contextName %>: API Usage</strong>`
    }
    app.setModuleTitle(app.md.title)
    app.md.statsByContext = JSON.parse('<%-JSON.stringify(statsByContext) %>')
    <%- script %>
</script>
