<script>
    app.module_data.flag_form={}
    app.module_data.flag_form.flag=JSON.parse(`<%- JSON.stringify(flag) %>`)
    app.module_data.flag_form.flagValidateSchema = JSON.parse(`<%- JSON.stringify(flagValidateSchema) %>`)
    eval(`<%- flagValidateFunction %>`)

    app.module_data.flag_form.flagContext=JSON.parse(`<%- JSON.stringify(flagContext) %>`)
    app.module_data.flag_form.engineBoolean=JSON.parse(`<%- JSON.stringify(engineBoolean) %>`)

    app.module_data.flag_form.bucket=JSON.parse(`<%- JSON.stringify(bucket) %>`)

    function submitFlag(triggerElement) {
        let flag = app.module_data.flag_form.flag
        let flagValidationResult = app.module_data.flag_form.flagValidateFunction(flag,app.module_data.flag_form.flagValidateSchema)
       
        if (flagValidationResult.isValid) {
            app.setElementForPendingOperation(triggerElement)
            let result = $.ajax({
                type:"POST",
                url:"<%= prefix %>/flag",
                data:"json="+escape(JSON.stringify(flag)),
                processData: false,
                dataType:"text"
            })
            .done(function() {
                setTimeout(() => {
                    app.setViewForPendingOperation('content_view') 
                    htmx.ajax('GET', '/<%= prefix %>/flags?bucket_uuid=<%= bucket.uuid %>', {target:'#content_view', swap:'innerHTML'})
                    app.drawer.hide();
                    app.toastShow('Saved','Flag saved successfully.',{type:"info"})           
                    
                }, 1000);
            })
            .fail(function(data) {
                try {
                    for (messageData of data.responseJSON.messages) {
                        app.toastShow('Form data Error',messageData.message,{type:"error"})
                        break;
                    }

                } catch (error) {}
            })
            .always(function() {
            });              
        } else {
            try {
                app.toastShow('Form data Error',flagValidationResult.messages[0].message,{closable:true,type:"error"})
            } catch (error) {}
        }

      
    }

    function deleteFlag(uuid) {
        let result = $.ajax({
            type:"DELETE",
            url:"<%= prefix %>/flag?uuid="+uuid,
        })
        .done(function() {      
            setTimeout(() =>{
                app.setViewForPendingOperation('content_view')
                htmx.ajax('GET', '/<%= prefix %>/flags?bucket_uuid=<%= bucket.uuid %>', {target:'#content_view', swap:'innerHTML'})
                app.drawer.hide();
                app.dialog.hide()
                app.toastShow('Deleted','Flag deleted successfully.',{type:"info"}) 
            },1000)   
        })
    
    }

    function getFlagContextIndexByUuId(contextUuid){
        found = false
        for (let index = 0; index < app.module_data.flag_form.flag.contexts.length; index++) {
            if( app.module_data.flag_form.flag.contexts[index].bucket_context_uuid===contextUuid){
                found = index
            }
        }
        return found
    }
    function getBucketContextByUuId(contextUuid){
        found = {}
        for (let index = 0; index < app.module_data.flag_form.bucket.contexts.length; index++) {
            if( app.module_data.flag_form.bucket.contexts[index].uuid===contextUuid){
                found = app.module_data.flag_form.bucket.contexts[index]
            }
        }
        return found
    }

    function addFlagContextsToList(){
        document.getElementById('contexts_values_config').innerHTML=""
        let counter = 0
        app.module_data.flag_form.flag.contexts.forEach(flagContext => {
            addFlagContextToList(getBucketContextByUuId(flagContext.bucket_context_uuid),counter)
            counter++
        });
    }

    function addFlagContextToList(bucketContext,counter) {
        let booleanIsSelected = ""
        let booleanConditionedIsSelected = ""

        if (app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(`${bucketContext.uuid}`)].engine==="boolean") {
            booleanIsSelected="selected"
        } else if(app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(`${bucketContext.uuid}`)].engine==="boolean_conditioned") {
            booleanConditionedIsSelected = "selected"
        }

        document.getElementById('contexts_values_config').insertAdjacentHTML("beforeend",`
            <div id="context_${bucketContext.uuid}_wrapper" style="margin-bottom: 10px;">
                <sl-details id='bucket_context_value_config_${bucketContext.uuid}' summary="${bucketContext.name}">
                    <label style='margin-bottom:7px;font-size:17px'>Engine</label>
                    <select id="engine" class="js-example-basic-single" style="width:100%;margin-bottom:7px" onchange=";setEngineView(this.value,'${bucketContext.uuid}')">
                        <option value="boolean" ${booleanIsSelected}>Boolean</option>
                        <option value="boolean_conditioned" ${booleanConditionedIsSelected} >Boolean: True IF ALL Conditions</option>
                    </select> 
                    <div id="engine_container_${bucketContext.uuid}" style="padding:5px"></div>
                </sl-details>
            </div>
            `)
        setEngineView(app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(`${bucketContext.uuid}`)].engine,`${bucketContext.uuid}`)
    }


    function setFlagContextValueConfig(contextUuid){
        bucketContext = {}
        app.module_data.flags_list.bucket.contexts.forEach(tempContext => {
            if (tempContext.uuid === contextUuid) {
                bucketContext = tempContext
            }

        });
        let isChecked = document.getElementById("bucket_context_visibility_"+contextUuid).checked

        if (isChecked) {
            let newFlagContext = JSON.parse(JSON.stringify(app.module_data.flag_form.flagContext))
            newFlagContext.bucket_context_uuid = contextUuid

            newFlagContext.engine="boolean"
            newFlagContext.engine_parameters.boolean={status:false}

            newFlagContext.engine_parameters.boolean_conditioned={conditions:[]}

            app.module_data.flag_form.flag.contexts.push(newFlagContext)

            addFlagContextsToList()


        } else {
            //Remove flag context from the Values list
            app.module_data.flag_form.flag.contexts.splice(getFlagContextIndexByUuId(contextUuid), 1);
            document.getElementById('contexts_values_config').removeChild(
                document.getElementById(`context_${contextUuid}_wrapper`)
            )
            
        }

    }

    function setEngineBooleanContitionatedConditionValueConfig(contextUuid,conditionNumber){
        
        let firstParameterElement=document.getElementById(`engine_boolean_conditioned_first_paramenter_${contextUuid}_${conditionNumber}`)
        let secondParameterElement=document.getElementById(`engine_boolean_conditioned_second_paramenter_${contextUuid}_${conditionNumber}`)
        let operatorParameterElement=document.getElementById(`engine_boolean_conditioned_operator_parameter_${contextUuid}_${conditionNumber}`)

        app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine_parameters.boolean_conditioned.conditions[conditionNumber]={
            firstParameter : firstParameterElement.value,
            secondParameter : secondParameterElement.value,
            operatorParameter : operatorParameterElement.value,
        }
        
    }    

    function setEngineView(engine,contextUuid){
        if (engine === "boolean") {
            app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine="boolean"
            let checked = ""
            if(app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine_parameters.boolean.status){
                checked = "checked"
            }
            document.getElementById('engine_container_'+contextUuid).innerHTML = `
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexCheckChecked">
                    ON
                </label>
                <input id="engine_boolean_status" class="form-check-input" type="checkbox" role="switch" style="font-size:large" ${checked} onchange="app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId('${contextUuid}')].engine_parameters.boolean={status:this.checked}">
            </div>
            `
        } else if (engine === "boolean_conditioned") {
            app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine="boolean_conditioned"
            document.getElementById('engine_container_'+contextUuid).innerHTML = `
                <button type="button" class="btn btn-outline-primary" style="width:100%" onclick="addEngineBooleanConditionedCondition('${contextUuid}')"><i class="bi bi-plus-circle"></i> Add Condition</button>
                <div id='boolean_conditioned_conditions_${contextUuid}'></div>
            `  
            for (let index = 0; index < app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine_parameters.boolean_conditioned.conditions.length; index++) {
                addEngineBooleanConditionedCondition(contextUuid,app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine_parameters.boolean_conditioned.conditions[index])
                
            }        
        }
    }

    function addEngineBooleanConditionedCondition(contextUuid,condition={firstParameter : "",secondParameter : "",operatorParameter : "",}){

        app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine_parameters.boolean_conditioned.conditions
          
        let conditionsContainer = document.getElementById(`boolean_conditioned_conditions_${contextUuid}`)
        let newConditionNumber = conditionsContainer.childElementCount

        app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine_parameters.boolean_conditioned.conditions[newConditionNumber]=condition

        let selectedEqual = ""
        let selectedDifferent = ""
        let selectedLessThan = ""
        let selectedGreaterThan = ""

        if (condition.operatorParameter==="equal") {
            selectedEqual="selected"
        } else if(condition.operatorParameter==="different") {
            selectedDifferent="selected"
        } else if(condition.operatorParameter==="less_than") {
            selectedLessThan="selected"
        } else if(condition.operatorParameter==="greater_than") {
            selectedGreaterThan="selected"
        }

        let html =`
            <fieldset id="boolean_condition_${contextUuid}_${newConditionNumber}" style="margin-top:7px;padding:8px;border-style:solid;border-width:2px;border-radius:13px;border-color:lightblue">
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteEngineBooleanConditionedCondition('${contextUuid}',${newConditionNumber})"><i class="bi bi-dash-circle"></i></button> <label style='margin-bottom:7px;font-size:17px'>Condition #${newConditionNumber+1}</label>
                <input id='engine_boolean_conditioned_first_paramenter_${contextUuid}_${newConditionNumber}' class='form-control' style='margin-bottom:7px' type='text' value='${condition.firstParameter}' oninput="setEngineBooleanContitionatedConditionValueConfig('${contextUuid}',${newConditionNumber})" />
                <select id="engine_boolean_conditioned_operator_parameter_${contextUuid}_${newConditionNumber}" class="js-example-basic-single" style="width:100%;margin-bottom:7px" onchange="setEngineBooleanContitionatedConditionValueConfig('${contextUuid}',${newConditionNumber})">
                    <option value="equal" ${selectedEqual} > (=) Equal</option>
                    <option value="different" ${selectedDifferent} > (!=) Different</option>
                    <option value="less_than" ${selectedLessThan} > (<) Less than</option>
                    <option value="greater_than" ${selectedGreaterThan} > (>) Greater than</option>
                </select>                        
                <input id='engine_boolean_conditioned_second_paramenter_${contextUuid}_${newConditionNumber}' class='form-control' style='margin-bottom:7px' type='text' value='${condition.secondParameter}' oninput="setEngineBooleanContitionatedConditionValueConfig('${contextUuid}',${newConditionNumber})" />
            </fieldset>
        `
        conditionsContainer.insertAdjacentHTML('afterbegin',html)
    }

    function deleteEngineBooleanConditionedCondition(contextUuid,conditionIndex){
        document.getElementById(`boolean_conditioned_conditions_${contextUuid}`).removeChild(document.getElementById(`boolean_condition_${contextUuid}_${conditionIndex}`))
        app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId(contextUuid)].engine_parameters.boolean_conditioned.conditions.splice(conditionIndex, 1);
        addFlagContextsToList()
    }

</script>
<% if (!editing) { %>
    <h3>Create Flag</h3>
<% } else { %>
    <sl-alert variant="warning" open>
        <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
        <strong>Editing Flag</strong><br />
        <%= flag.name %>
      </sl-alert>

<% } %>
<sl-tab-group id="flag_form_tab_group">
    <sl-tab slot="nav" panel="general">General</sl-tab>
    <sl-tab slot="nav" panel="values">Context Values</sl-tab>

    <% if (editing) { %>
        <sl-tab slot="nav" panel="operations">Operations</sl-tab>
        
    <% } %>

    <sl-tab-panel name="general">
        <%- flagFieldRender("flag","name",flag.name,flagMetadata.name) %>
        <%- flagFieldRender("flag","description",flag.description,flagMetadata.description) %>
        <br>
        Bucket Context Visibility:<br>
        <br>
        <% let bucketSelectedContextCounter = 0;bucket.contexts.forEach(context => { %>
            <div class="alert alert-light" role="alert">
                <% let checked=""; if (flagContextsUuids.includes(context.uuid)) checked="checked" %>
                <input id="bucket_context_visibility_<%= context.uuid %>" value="<%= context.uuid %>" class="form-check-input" type="checkbox" onchange="setFlagContextValueConfig('<%= context.uuid %>')" <%= checked %> > <%= context.name %>
            </div>
            <% if (checked) { %>
                <script>
                     addFlagContextToList(getBucketContextByUuId('<%= context.uuid %>'),bucketSelectedContextCounter)
                </script>          
            <% } %>
        <% bucketSelectedContextCounter++ }) %>

    </sl-tab-panel>
    <sl-tab-panel id="contexts_values_config" name="values"></sl-tab-panel>

    <% if (editing) { %>
        <sl-tab-panel name="operations">
            <sl-details summary="Delete">
                <label style='margin-bottom:7px;font-size:17px' style="text-align: justify;">
                    Afer deleting this Flag, the clients will NO longer receive It's configuration.
                    <br>
                    <br>
                </label>
                <button type="button" class="btn btn-outline-danger" onclick="app.confirmDelete('Delete Flag','Are you sure to delete the flag <strong><%= flag.name %></strong> ?','deleteFlag(`<%= flag.uuid %>`)')"><i class="bi bi-trash-fill"></i> Delete Flag</button>
                <br>
            </sl-details>
        </sl-tab-panel>
    <% } %>
    
</sl-tab-group>

<div slot="footer" style="padding: 20px;background-color: aliceblue;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
    <button type="button" class="btn btn-secondary" onclick="app.drawer.hide()">Close</button>
    <button type="button" class="btn btn-primary" onclick="submitFlag(this)">Save</sl-button>
</div>

<script>
    document.getElementById('flag_form_tab_group').show('general')
</script>