<script>
    app.module_data.flag_form={}
    app.module_data.flag_form.flag=JSON.parse(`<%- JSON.stringify(flag) %>`)
    app.module_data.flag_form.flagValidateSchema = JSON.parse(`<%- JSON.stringify(flagValidateSchema) %>`)
    eval(`<%- flagValidateFunction %>`)

    app.module_data.flag_form.flagContext=JSON.parse(`<%- JSON.stringify(flagContext) %>`)
    app.module_data.flag_form.engineBoolean=JSON.parse(`<%- JSON.stringify(engineBoolean) %>`)

    function submitFlag(triggerElement) {
        let flag = app.module_data.flag_form.flag
        let flagValidationResult = app.module_data.flag_form.flagValidateFunction(flag,app.module_data.flag_form.flagValidateSchema)
       
        if (flagValidationResult.isValid) {
            app.setElementForPendingOperation(triggerElement)
            let result = $.ajax({
                type:"POST",
                url:"<%= prefix %>/flag",
                data:"json="+escape(JSON.stringify(flag)),
                processData: false,
                dataType:"text"
            })
            .done(function() {
                setTimeout(() => {
                    app.setViewForPendingOperation('content_view') 
                    htmx.ajax('GET', '/<%= prefix %>/flags?bucket_uuid=<%= bucket.uuid %>', {target:'#content_view', swap:'innerHTML'})
                    app.drawer.hide();
                    app.toastShow('Saved','Flag saved successfully.',{type:"info"})           
                    
                }, 1000);
            })
            .fail(function(data) {
                try {
                    for (messageData of data.responseJSON.messages) {
                        app.toastShow('Form data Error',messageData.message,{type:"error"})
                        break;
                    }

                } catch (error) {}
            })
            .always(function() {
            });              
        } else {
            try {
                app.toastShow('Form data Error',flagValidationResult.messages[0].message,{closable:true,type:"error"})
            } catch (error) {}
        }

      
    }

    function deleteFlag(uuid) {
        let result = $.ajax({
            type:"DELETE",
            url:"<%= prefix %>/flag?uuid="+uuid,
        })
        .done(function() {      
            setTimeout(() =>{
                app.setViewForPendingOperation('content_view')
                htmx.ajax('GET', '/<%= prefix %>/flags?bucket_uuid=<%= bucket.uuid %>', {target:'#content_view', swap:'innerHTML'})
                app.drawer.hide();
                app.dialog.hide()
                app.toastShow('Deleted','Flag deleted successfully.',{type:"info"}) 
            },1000)   
        })
    
    }

    function getFlagContextIndexByUuId(contextUuid){
        found = false
        for (let index = 0; index < app.module_data.flag_form.flag.contexts.length; index++) {
            if( app.module_data.flag_form.flag.contexts[index].bucket_context_uuid===contextUuid){
                found = index
            }
        }
        return found
    }

    function setContextValueConfig(contextUuid){
        context = {}
        app.module_data.flags_list.bucket.contexts.forEach(tempContext => {
            if (tempContext.uuid === contextUuid) {
                context = tempContext
            }

        });
        let isChecked = document.getElementById("bucket_context_visibility_"+contextUuid).checked

        if (isChecked) {
            let newContext = JSON.parse(JSON.stringify(app.module_data.flag_form.flagContext))
            newContext.bucket_context_uuid = contextUuid

            newContext.engine="boolean"
            newContext.engine_parameters.boolean={status:false}

            app.module_data.flag_form.flag.contexts.push(newContext)

            document.getElementById('contexts_values_config').insertAdjacentHTML("beforeend",`
            <div id="context_${contextUuid}_wrapper" style="margin-bottom: 10px;">
                <sl-details id='bucket_context_value_config_${context.uuid}' summary="${context.name}">
                    <div>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="flexCheckChecked">
                                ON
                            </label>
                            <input id="engine_boolean_status" class="form-check-input" type="checkbox" role="switch" style="font-size:large" onchange="app.module_data.flag_form.flag.contexts[getFlagContextIndexByUuId('${contextUuid}')].engine_parameters.boolean={status:this.checked}">
                        </div>
                    </div>
                </sl-details>
            </div>
            `)
        } else {
            app.module_data.flag_form.flag.contexts.splice(getFlagContextIndexByUuId(contextUuid), 1);
            document.getElementById('contexts_values_config').removeChild(
                document.getElementById(`context_${contextUuid}_wrapper`)
            )
            
        }

    }    

</script>
<% if (!editing) { %>
    <h3>Create Flag</h3>
<% } else { %>
    <sl-alert variant="warning" open>
        <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
        <strong>Editing Flag</strong><br />
        <%= flag.name %>
      </sl-alert>

<% } %>
    <sl-tab-group id="flag_form_tab_group">
        <sl-tab slot="nav" panel="general">General</sl-tab>
        <sl-tab slot="nav" panel="values">Context Values</sl-tab>

        <% if (editing) { %>
            <sl-tab slot="nav" panel="operations">Operations</sl-tab>
         
        <% } %>
    
        <sl-tab-panel name="general">
            <%- flagFieldRender("flag","name",flag.name,flagMetadata.name) %>
            <%- flagFieldRender("flag","description",flag.description,flagMetadata.description) %>
            <br>
            Bucket Context Visibility:<br>
            <br>
            <% bucket.contexts.forEach(context => { %>

                <div class="alert alert-light" role="alert">
                    <input id="bucket_context_visibility_<%= context.uuid %>" value="<%= context.uuid %>" class="form-check-input" type="checkbox" onchange="setContextValueConfig('<%= context.uuid %>')" > <%= context.name %>
                </div>          
            <% }) %>

        </sl-tab-panel>
        <sl-tab-panel id="contexts_values_config" name="values"></sl-tab-panel>

        <% if (editing) { %>
            <sl-tab-panel name="operations">
                <sl-details summary="Delete">
                    <label style='margin-bottom:7px;font-size:17px' style="text-align: justify;">
                        Afer deleting this Flag, the clients will NO longer receive It's configuration.
                        <br>
                        <br>
                    </label>
                    <button type="button" class="btn btn-outline-danger" onclick="app.confirmDelete('Delete Flag','Are you sure to delete the flag <strong><%= flag.name %></strong> ?','deleteFlag(`<%= flag.uuid %>`)')"><i class="bi bi-trash-fill"></i> Delete Flag</button>
                    <br>
                </sl-details>
    
            </sl-tab-panel>
         
        <% } %>
        
    </sl-tab-group>

    <div slot="footer" style="padding: 20px;background-color: aliceblue;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <button type="button" class="btn btn-secondary" onclick="app.drawer.hide()">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitFlag(this)">Save</sl-button>
    </div>

<script>
    document.getElementById('flag_form_tab_group').show('general')
</script>