<script>
    app.module_data.flag_form={}
    app.module_data.flag_form.flag=JSON.parse(`<%- JSON.stringify(flag) %>`)
    app.module_data.flag_form.flagValidateSchema = JSON.parse(`<%- JSON.stringify(flagValidateSchema) %>`)
    eval(`<%- flagValidateFunction %>`)
   
    function submitFlag(triggerElement) {
        let flag = app.module_data.flag_form.flag
        let flagValidationResult = app.module_data.flag_form.flagValidateFunction(flag,app.module_data.flag_form.flagValidateSchema)
       
        if (flagValidationResult.isValid) {
            app.setPendingOperation(triggerElement)
            let result = $.ajax({
                type:"POST",
                url:"<%= prefix %>/flag",
                data:"json="+escape(JSON.stringify(flag)),
                processData: false,
                dataType:"text"
            })
            .done(function() {
                setTimeout(() => {
                    //$("#content_view").load("<%= prefix %>/flags");
                    htmx.ajax('GET', '/<%= prefix %>/flags?bucket_uuid=<%= bucket.uuid %>', {target:'#content_view', swap:'innerHTML'})
                    app.drawer.hide();
                    app.toastShow('Saved','Flag saved successfully.',{type:"info"})           
                    
                }, 1000);
            })
            .fail(function(data) {
                try {
                    for (messageData of data.responseJSON.messages) {
                        app.toastShow('Form data Error',messageData.message,{type:"error"})
                        break;
                    }

                } catch (error) {}
            })
            .always(function() {
            });              
        } else {
            try {
                app.toastShow('Form data Error',flagValidationResult.messages[0].message,{closable:true,type:"error"})
            } catch (error) {}
        }

      
    }

    function deleteFlag(uuid) {
        let result = $.ajax({
            type:"DELETE",
            url:"<%= prefix %>/flag?uuid="+uuid,
        })
        .done(function() {      
            setTimeout(() =>{
                htmx.ajax('GET', '/<%= prefix %>/flags?bucket_uuid=<%= bucket.uuid %>', {target:'#content_view', swap:'innerHTML'})
                app.drawer.hide();
                app.dialog.hide()
                app.toastShow('Deleted','Flag deleted successfully.',{type:"info"}) 
            },1000)   
        })
    
    }    

</script>
<% if (!editing) { %>
    <h3>Create Flag</h3>
<% } else { %>
    <sl-alert variant="warning" open>
        <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
        <strong>Editing Flag</strong><br />
        <%= flag.name %>
      </sl-alert>

<% } %>
    <sl-tab-group id="flag_form_tab_group">
        <sl-tab slot="nav" panel="general">General</sl-tab>

        <% if (editing) { %>
            <sl-tab slot="nav" panel="operations">Operations</sl-tab>
         
        <% } %>
    
        <sl-tab-panel name="general">
            <%- flagFieldRender("flag","name",flag.name,flagMetadata.name) %>
            <%- flagFieldRender("flag","description",flag.description,flagMetadata.description) %>
        </sl-tab-panel>

        <% if (editing) { %>
            <sl-tab-panel name="operations">
                <sl-details summary="Delete">
                    <label style='margin-bottom:7px;font-size:17px' style="text-align: justify;">
                        Afer deleting this Flag, the clients will NO longer receive It's configuration.
                        <br>
                        <br>
                    </label>
                    <button type="button" class="btn btn-outline-danger" onclick="app.confirmDelete('Delete Flag','Are you sure to delete the flag <strong><%= flag.name %></strong> ?','deleteFlag(`<%= flag.uuid %>`)')"><i class="bi bi-trash-fill"></i> Delete Flag</button>
                    <br>
                </sl-details>
    
            </sl-tab-panel>
         
        <% } %>
        
    </sl-tab-group>

    <div slot="footer" style="padding: 20px;background-color: aliceblue;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <button type="button" class="btn btn-secondary" onclick="app.drawer.hide()">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitFlag(this)">Save</sl-button>
    </div>

<script>
    document.getElementById('flag_form_tab_group').show('general')
</script>