<script>
    app.md = {}
</script>
<% let bucketContextsMap = getUuidMapFromBucketContextsList(bucket.contexts) %>
<div class="lp_contrast_container lp_module_fixed_bar">
    <div class="lp_bread_crumbs_container" id="lp_bread_crumbs_container"></div>
    <% if (UserHasPermissionOnElement(userPermissions,[prefix+'.flag'],['write'])) { %>
        <div class="btn-group" role="group" aria-label="" style="margin-bottom: 10px;">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="app.ajax('app_drawer', '/<%= prefix %>/flag_form?bucket_uuid=<%= bucket.uuid %>');app.drawer.show();">
                <i class="bi bi-plus-circle"></i> Add
            </button>        

        </div>
    <% } %>
    
    <div style="max-width: 250px;margin-bottom: 10px;">
        <sl-input id="flag_search_box" placeholder="Type: filter, Intro: search" size="medium" autocomplete="one-time-code" pill onkeydown="app.ajaxOnPressedKey(event,13,'content_view',`/<%= prefix %>/flags?<%= extendedFilterDefinition %>bucket_uuid=<%= bucket.uuid %>&search_value=${this.value}`)" value="<%= searchValue %>" >
            <sl-icon name="search" slot="prefix"></sl-icon>
        </sl-input>    
    </div>
    <div id="list_navigation_bar"></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<table 
    id="flags_table"
    data-classes="table"
    data-toggle="table" 
    data-search="true" 
    data-search-align="left" 
    data-search-selector="#flag_search_box" 
    data-search-highlight="true"
    style="border-style: hidden;"   
>
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <% flags.forEach(flag => { %>
    <tr style="border: hidden;">
        <td>
            <div class="lp_container">
                <div class="lp_contrast_container">
                    <div>
                        <button class="lp_button" onclick="app.setViewForPendingOperation('app_drawer');app.drawer.show();app.ajax('app_drawer', '/<%= prefix %>/flag_form?uuid=<%= flag.uuid %>&bucket_uuid=<%= bucket.uuid %>');"><i class="bi bi-pencil"></i></button>
                    </div>                                                       
                    <strong>Name:</strong> <%= flag.name %>
                </div>
                <div class="lp_register_container_body">
                    <strong>Description:</strong> <%= flag.description %>
                    <div class="alert alert-light" role="alert" style="margin-top: 7px;">
                        <div class="row">
                            <% flag.contexts.forEach(context=> { %>
                                <span class="card" style="width: 195px;margin:10px;box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)">
                                    <div class="card-body">
                                        <h6 class="card-title"><%= bucketContextsMap.get(context.bucket_context_uuid) %></h6>
                                        <% if (context.engine == "string") { %>
                                            <p class="card-text">Engine: String</p>
                                            <input type='text' class="form-control" value='<%= context.engine_parameters.string.value %>' disabled='disabled'>
                                        <% } else if (context.engine == "boolean") { %>
                                            <p class="card-text">Engine: True/False</p>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" style="font-size:large" <% if(context.engine_parameters.boolean.status){ %> checked <% } %>  disabled="disabled">
                                            </div>                                    
                                        <% } else if (context.engine == "boolean_conditioned_false") { %>
                                            <p class="card-text">Engine: False (AND)</p>
                                            <p class="card-text"><%= context.engine_parameters.boolean_conditioned_false.conditions.length %> Conditions</p>
                                        <% } else if (context.engine == "boolean_conditioned_true") { %>
                                            <p class="card-text">Engine: True (AND)</p>
                                            <p class="card-text"><%= context.engine_parameters.boolean_conditioned_true.conditions.length %> Conditions</p>
                                        <% } else if (context.engine == "boolean_conditionedor_false") { %>
                                            <p class="card-text">Engine: False (OR)</p>
                                            <p class="card-text"><%= context.engine_parameters.boolean_conditionedor_false.conditions.length %> Conditions</p>
                                        <% } else if (context.engine == "boolean_conditionedor_true") { %>
                                            <p class="card-text">Engine: True (OR)</p>
                                            <p class="card-text"><%= context.engine_parameters.boolean_conditionedor_true.conditions.length %> Conditions</p>
                                        <% } else if (context.engine == "numeric") {%>
                                            <p class="card-text">Engine: Numeric</p>
                                            <input type='text' class="form-control" value='<%= context.engine_parameters.numeric.value %>' disabled='disabled'>                                            
                                        <% } %>
        
                                    </div>
                                </span>                     
                            <% }) %>
                        </div>
                    </div>            
                    <div class="alert alert-light" role="alert" style="margin-top: 7px;">
                        <% flag.tags.forEach(tagUuid=> { %>
                            <span class="badge text-bg-warning"><%= tagUuidMap.get(tagUuid) %></span>
                        <% }) %>
                    </div>
                </div>                
            </div>            
        </td>
    </tr>
    <% }) %>
</table>
<script>
    app.setSmartTable('flags_table')
    app.renderBreadCrumbs("lp_bread_crumbs_container","content_view")

    app.md.ownerPrefixLabel=""
    <% if (extendedFilterDefinition.startsWith("extended_filter=mystuf")) { %>
        app.md.ownerPrefixLabel="My "
    <% } %>

    app.md.title = `<strong><i class="bi bi-flag"></i> ${app.md.ownerPrefixLabel}Flags of bucket</strong>: <%= bucket.name %>`
    if (app.isSmallScreen()) {
        app.md.title = `<strong><i class="bi bi-flag"></i></strong>:<%= bucket.name %>`
    }
    app.setModuleTitle(app.md.title)
    app.renderListNavigationBar("list_navigation_bar",<%= listPagesTotalNumber %>,<%= listPageNumber %>,'<%= prefix %>/flags?bucket_uuid=<%= bucket.uuid %>',document.getElementById("flag_search_box").value)  

</script>