<div class="alert alert-light" role="alert" style="text-align: left;">
    <strong>Flags</strong> - Bucket: <%= bucket.name %>
</div>
<span class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Options
  </button>
  <ul class="dropdown-menu">
    <li>
        <a class="dropdown-item" style="height:40px" onclick="app.ajax('content_view','/<%= prefix %>/buckets');">
            <i class="bi bi-arrow-left-circle"></i> Back to Buckets
        </a>        
    </li>
    <li>
        <a class="dropdown-item" style="height:40px" onclick="app.drawer.innerHTML='';app.setViewForPendingOperation('app_drawer');app.drawer.show();htmx.ajax('GET', '/<%= prefix %>/flag_form?bucket_uuid=<%= bucket.uuid %>', {target:'#app_drawer', swap:'innerHTML'});">
            <i class="bi bi-plus-circle"></i> Add Flag
        </a>        
    </li>
  </ul>
</span>
<div style="width: 50%;position: absolute;right: 23px;top:93px">
    <sl-input id="flag_search_box" placeholder="Search..." size="medium" pill>
        <sl-icon name="search" slot="prefix"></sl-icon>
    </sl-input>    
</div>
<br>
<br>
<table 
    id="flags_table" 
    data-toggle="table" 
    data-search="true" 
    data-search-align="left" 
    data-search-selector="#flag_search_box" 
    data-search-highlight="true"
    data-sortable="true"    
>
    <thead>
        <tr>
            <th data-sortable="true">Name</th>
        </tr>
    </thead>
    <% flags.forEach(flag => { %>
    <tr>
        <td>
            <span>
                <button class="list_button" onclick="app.drawer.innerHTML='';app.setViewForPendingOperation('app_drawer');app.drawer.show();htmx.ajax('GET', '/<%= prefix %>/flag_form?uuid=<%= flag.uuid %>&bucket_uuid=<%= bucket.uuid %>', {target:'#app_drawer', swap:'innerHTML'});"><i class="bi bi-pencil"></i></button>
            </span>
            <%= flag.name %>
            <div class="alert" role="alert" style="margin-top: 7px;background-color: darkcyan;">
                <% flag.tags.forEach(tagUuid=> { %>
                    <span class="badge text-bg-warning"><%= tagUuidMap.get(tagUuid) %></span>
                <% }) %>
            </div>            
        </td>
    </tr>
    <% }) %>
</table>
<script>
    app.module_data = {}

    app.module_data.flags_list={}
    app.module_data.flags_list.bucket=JSON.parse(`<%- JSON.stringify(bucket) %>`)
    app.module_data.flags_table = $('#flags_table')
    app.module_data.flags_table.bootstrapTable()
</script>