<script>
    app.md.tag_form={}
    app.md.tag_form.prefix=<%- JSON.stringify(prefix) %>
    app.md.tag_form.tag=JSON.parse(`<%- JSON.stringify(tag) %>`)
    app.md.tag_form.tagValidateSchema = JSON.parse(`<%- JSON.stringify(tagValidateSchema).replaceAll("\\","\\\\") %>`)
    eval(`<%- tagValidateFunction %>`)
   
    app.md.tag_form.userPermissions = JSON.parse(`<%- JSON.stringify(userPermissions) %>`)
    eval(`<%- userHasPermissionOnElement %>`) 

    app.md.submitTag=(triggerElement)=> {
        let tag = app.md.tag_form.tag
        let tagValidationResult = app.md.tag_form.tagValidateFunction(tag,app.md.tag_form.tagValidateSchema)
       
        if (tagValidationResult.isValid) {
            app.setElementForPendingOperation(triggerElement)
            let result = $.ajax({
                type:"POST",
                url:"<%= prefix %>/tag",
                data:"csrfToken=<%= csrfToken %>"+"&json="+JSON.stringify(tag),
                processData: false,
                dataType:"text"
            })
            .done(function() {
                setTimeout(() => {
                    app.ajax('content_view', '/<%= prefix %>/tags')
                    app.drawer.hide();
                    app.toastShow('Saved','Tag saved successfully.',{type:"success"})           
                    
                }, 1000);
            })
            .fail(function(data) {
                try {
                    app.unsetElementForPendingOperation(triggerElement)
                    for (messageData of JSON.parse(data.responseText).messages) {
                        app.toastShow('Form data Error',messageData.message,{closable:true,type:"error"})
                        break;
                    }

                } catch (error) {}
            })
            .always(function() {
            });              
        } else {
            try {
                app.toastShow('Form data Error',tagValidationResult.messages[0].message,{closable:true,type:"error"})
            } catch (error) {}
        }

      
    }

    app.md.deleteTag=(uuid)=> {
        let result = $.ajax({
            type:"DELETE",
            url:"<%= prefix %>/tag?uuid="+uuid+"&csrfToken=<%= csrfToken %>",
        })
        .done(function() {      
            setTimeout(() =>{
                app.ajax('content_view', '/<%= prefix %>/tags')
                app.drawer.hide();
                app.dialog.hide()
                app.toastShow('Deleted','Tag deleted successfully.',{type:"success"}) 
            },1000)   
        })
    
    }    

</script>
<% if (!editing) { %>
    <h3>Create Tag</h3>
<% } else { %>
    <sl-alert variant="warning" open>
        <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
        <strong>Editing Tag</strong><br />
        <%= tag.name %>
      </sl-alert>

<% } %>
    <sl-tab-group id="tag_form_tab_group">
        <sl-tab slot="nav" panel="general">General</sl-tab>

        <% let fieldsEnabled = false; if (UserHasPermissionOnElement(userPermissions,[prefix+'.tag'],['write'])) { fieldsEnabled = true }%>

        <% if (editing && UserHasPermissionOnElement(userPermissions,[prefix+'.tag'],['write'])) { %>
            <sl-tab slot="nav" panel="operations">Operations</sl-tab>
         
        <% } %>
    
        <sl-tab-panel name="general">
            <%- tagFieldRender("tag","name",tag.name,tagMetadata.name,fieldsEnabled) %>
            <%- tagFieldRender("tag","description",tag.description,tagMetadata.description,fieldsEnabled) %>
        </sl-tab-panel>

        <% if (editing && UserHasPermissionOnElement(userPermissions,[prefix+'.tag'],['write'])) { %>
            <sl-tab-panel name="operations">
                <sl-details summary="Delete">
                    <label style='margin-bottom:7px;font-size:17px' style="text-align: justify;">
                        Deleting a Tag will also remove It from the associated elements.
                        <br>
                        <br>
                    </label>
                    <button type="button" class="btn btn-outline-danger" onclick="app.confirmDelete('Delete Tag','Are you sure to delete the tag <strong><%= tag.name %></strong> ?','app.md.deleteTag(`<%= tag.uuid %>`)')"><i class="bi bi-trash-fill"></i> Delete Tag</button>
                    <br>
                </sl-details>
    
            </sl-tab-panel>
         
        <% } %>
        
    </sl-tab-group>

    <div slot="footer" style="padding: 20px;background-color: aliceblue;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <button type="button" class="btn btn-secondary" onclick="app.drawer.hide()">Close</button>
        <% if (UserHasPermissionOnElement(userPermissions,[prefix+'.tag'],['write'])){ %>
        <button type="button" class="btn btn-primary" style="background-color: var(--main-contrast-color);" onclick="app.md.submitTag(this)">Save</sl-button>
        <% } %>
    </div>

<script>
    $(document).ready(function() {
        document.getElementById('tag_form_tab_group').show('general')

        if (app.md.tag_form.tag.name==="") {
            setTimeout(()=>{document.getElementById("tag_name").focus()},500)        
        }        
    });    
</script>